.active-bg {
  background-color: #ffc !important;
}

.meta-title {
  font-size: 20px;
  color: #1a0dab;
}

.canonical {
  color: green;
}

.image {
  width: 100% !important;
  max-width: 150px !important;
  display: block !important;
}

.image img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  border-radius: 8px !important;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .baseUrl {
  position: absolute;
  height: 31px;
  line-height: 31px;
  display: inline-block;
  padding: 0 10px;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  border-color: #e5e6e7 !important;
  border: 1px solid;
  border-right: 0;
}



.image-size-product img {
  width: 75px !important;
  height: 100px !important;
  object-fit: cover !important;
  display: block !important;
}

.image-size-post img {
  width: 75px !important;
  height: 50px !important;
  object-fit: cover !important;
  display: block !important;
}

.image-size-min img {
  width: 30px !important;
  height: 30px !important;
  object-fit: cover !important;
  display: block !important;
}

.name {
  max-width: 150px !important;
  white-space: nowrap !important;
}

.main-title {
  color: #2962ff;
}

.image {
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
}

.img-cover {
  display: block !important;
  margin-right: 10px !important;
  flex-shrink: 0 !important;
  /* Ngăn hình ảnh bị thu nhỏ */
}


.language-item.active {

  border: 1px solid #2962ff !important;
  /* để test */
  padding: 2px !important;
  /* thêm padding để thấy background */
}

.schema {
  height: 300px !important;
}


.ibox-title h5 {
  float: none;
}

.variant-box .description {
  font-size: 10px;
}

.variant-checkbox input {
  margin-top: 0;
  width: 16px;
  height: 16px;
}

.variant-checkbox label {
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: normal;
  cursor: pointer;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml30 {
  margin-left: 30px;
}

.ml5 {
  margin-left: 5px;
}

.variant-container {
  margin-top: 30px;
}

.attribute-title {
  font-size: 12px;
  color: #1791f2;
}

.variant-body {
  margin-top: 10px;
}

.niceSelect {
  height: 33px !important;
}

.add-variant {
  margin-top: 15px !important;
  height: 42px;
  color: #1791f2;
  border: 1px dashed #1791f2;
  background: #fafafa;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 0 40px;
}

.space-top {
  margin-top: 15px !important;
}

.variantTable thead {
  background: #333;
  color: #fff;
}

.variantTable tbody td,
.variantTable thead td {
  text-align: right;
  cursor: pointer;
}

.variantTable thead td:first-child {
  text-align: left;
}

.variantTable .variant-row .image {
  width: 28px;
  height: 28px;
}

.updateVariant {
  box-shadow: none !important;
  background: #eaeaea;
}

.click-to-upload-variant {
  text-align: center;
  border: 1px dashed #b8b2b2;
  padding: 20px;
}

.updateVariant label {
  margin-bottom: 0;
  font-weight: 600;
  color: #1a0dab;
  margin-bottom: 5px;
}

.control-label {
  display: block;
}

.form-control {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transition-property: color, -webkit-box-shadow;
  transition-property: color, -webkit-box-shadow;
  transition-property: box-shadow, color;
  transition-property: box-shadow, color, -webkit-box-shadow;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, .05);
  box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, .05);
  border: 1px solid #c4cdd5;
  outline: none;
  height: 32px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, .05);
  /* box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05); */
  border-radius: 5px;
}

/* Xếp các ảnh nằm ngang */
#sortable {
  display: flex;
  flex-wrap: wrap;
  /* Nếu ảnh quá nhiều, dòng mới sẽ tự xuống */
  gap: 10px;
  /* Khoảng cách giữa các ảnh */
  list-style: none;
  /* Loại bỏ dấu bullet mặc định */
  padding: 0;
  margin: 0;
}

#sortable li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 120px;
  /* Kích thước mỗi ảnh */
  height: 120px;
  overflow: hidden;
}

#sortable img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* Đảm bảo ảnh vừa khung */
  display: block;
}

.delete-image {
  margin-top: 5px;
  background: #e74c3c;
  color: white;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

.delete-image i {
  margin-right: 5px;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}


.delete-menu {
  display: inline-block !important;
}