.active-bg {
  background-color: #ffc !important;
}

.meta-title {
  font-size: 20px;
  color: #1a0dab;
}

.canonical {
  color: green;
}

.image {
  width: 100% !important;
  max-width: 150px !important;
  display: block !important;
}

.image img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  border-radius: 8px !important;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .baseUrl {
  position: absolute;
  height: 31px;
  line-height: 31px;
  display: inline-block;
  padding: 0 10px;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  border-color: #e5e6e7 !important;
  border: 1px solid;
  border-right: 0;
}



.image-post img {
  width: 75px !important;
  height: 45px !important;
  object-fit: cover !important;
  display: block !important;
}

.name {
  max-width: 150px !important;
  white-space: nowrap !important;
}

.main-title {
  color: #2962ff;
}

.image {
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
}

.img-cover {
  display: block !important;
  margin-right: 10px !important;
  flex-shrink: 0 !important;
  /* Ngăn hình ảnh bị thu nhỏ */
}