.active-bg {
  background-color: #ffc !important;
}

.meta-title {
  font-size: 20px;
  color: #1a0dab;
}

.canonical {
  color: green;
}

.image {
  width: 100% !important;
  max-width: 150px !important;
  display: block !important;
}

.image img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  border-radius: 8px !important;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .baseUrl {
  position: absolute;
  height: 31px;
  line-height: 31px;
  display: inline-block;
  padding: 0 10px;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  border-color: #e5e6e7 !important;
  border: 1px solid;
  border-right: 0;
}



.image-size-product img {
  width: 75px !important;
  height: 100px !important;
  object-fit: cover !important;
  display: block !important;
}

.image-size-post img {
  width: 75px !important;
  height: 50px !important;
  object-fit: cover !important;
  display: block !important;
}

.name {
  max-width: 150px !important;
  white-space: nowrap !important;
}

.main-title {
  color: #2962ff;
}

.image {
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
}

.img-cover {
  display: block !important;
  margin-right: 10px !important;
  flex-shrink: 0 !important;
  /* Ngăn hình ảnh bị thu nhỏ */
}


.language-item.active {

  border: 1px solid #2962ff !important;
  /* để test */
  padding: 2px !important;
  /* thêm padding để thấy background */
}

.schema {
  height: 300px !important;
}


.ibox-title h5 {
  float: none;
}

.variant-box .description {
  font-size: 10px;
}

.variant-checkbox input {
  margin-top: 0;
  width: 16px;
  height: 16px;
}

.variant-checkbox label {
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: normal;
  cursor: pointer;
}

.variant-container {
  margin-top: 30px;
}

.attribute-title {
  font-size: 12px;
  color: #1791f2;
}

.variant-body {
  margin-top: 10px;
}

.niceSelect {
  height: 33px !important;
}

.add-variant {
  margin-top: 15px !important;
  height: 42px;
  color: #1791f2;
  border: 1px dashed #1791f2;
  background: #fafafa;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 0 40px;
}

.space-top {
  margin-top: 15px !important;
}